body {
color: #40514E;
  margin: 0;
  text-align: center;
}

h1 {
    color: #66BFBF;
  font-size: 2rem;
  margin: 50px auto 0 auto;
 font-family: sans-sans-seri;
  font-weight: 800;
  /*  width: 10%;
  margin:0 auto 0 auto;

*/}
/*.para1{
  font-family: "Sofia Pro",HelveticaNeueBold,HelveticaNeue-Bold,"Helvetica Neue Bold",HelveticaBold,Helvetica-Bold,"Helvetica Bold",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}*/

h2{
 font-family: sans-sans-seri;
  font-family: ;
  color: #66BFBF;
  font-size: 2rem;
  font-weight:normal;
margin-top:5px;
margin-bottom:10px;
}
h3{
  color:#11999E;
 font-family: sans-sans-seri;
  font-family: ;
  font-size: 25px;
}
hr{
  border-style:none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
    width: 10%;
}
p{
font-size: 20px;
  line-height:20px;
}
a{
  color: #11999E;
  font-family: arial, sans-;
  margin:10px 5px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
.paragaraph discruption {
   clear: right;

}
.pro {
  text-decoration: underline;
}
.prg{
  color: blue;
  font-family: arial, sans-serif;
}
.top-container {
  background-color: #6980FA;
  position:relative;
  padding-top:200px;

  /*
width: 200px;
height:200px;
border:solid 10px;
padding:20px;
*/}

.middle-container {
  padding-top:15px;
  background-color: white;

/*  width: 200px;
  height:200px;
  border: solid 20px;
      margin-left: 260px;
*/}


.bottom-container {
  background-color:#66BFBF;
  padding:10px 0 10px;

  /*
  width: 200px;
  height:200px;
  border: solid 10px;
      margin-left: 500px;
*/  }

.bottom-cloud{
  position:absolute;
  left:50px;
  bottom:300px;

}
.top-cloud{
  position:absolute;
  Right:100px;
  top:40px;
    }

.nobg {
background-color: lightgreen ;
width:100px;
height:100px;
float: left;
margin-right: 30px;
clear: right;
}

.happyboy{

  float:right;
  margin-right:60px;
  margin-top:0;
  clear:left;
  height:130px;
  width: 130px;


}
.manonrocket {
  height: 200px;
  width: 200px;
}

.skill-row{
  width:50%;
  margin: 50px auto 80px auto;
  text-align: left;
  line-height:2;
  }
  .contact-me{
    width:40%;
      margin: 50px auto 60px;
}
.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: arial, sans-serif;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30c3cb;
  background-image: -webkit-linear-gradient(top, #30c3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30c3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30c3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30c3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30c3cb, #2bc4ad);
  text-decoration: none;
}
.copyrights{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
